@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* CSS Variables */
:root {
	--color-black: hsl(50, 100%, 5%);
	--color-white: hsl(50, 100%, 95%);
	--color-yellow-400: hsl(50, 100%, 50%);
	--color-yellow-200: hsl(50, 100%, 75%);
	--color-purple: hsl(300, 90%, 25%);
	--height-nav: 60px;
}

body {
	font-family: "Inter", sans-serif;

	/* offset navbar height */
	margin-top: var(--height-nav);
}

.container {
	max-width: 80vw;
	margin: 0 auto;
	min-height: 100vh;
	min-height: 100dvh;
	border: solid 10px var(--color-yellow-400);
	/* flexblox */
	display: flex;
	/* flex-direction: column; */
	/* flex-wrap: wrap; */
	/* gap: 1rem; */

	/* justify-content: center; */
	/* align-items: center; */
	/* align-content: center; */

	/* grid */
	/* display: grid; */
	/* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
}

.box {
	width: 100px;
	height: 100px;
	background-color: var(--color-black);
	color: var(--color-white);
	font-size: 2rem;
	font-weight: 500;
	outline: solid 1px red;
	flex: 0 1 auto; /*เขียนย่อ flex-grow flex-shrink flex-basis ตามลำดับ*/ /*flex-basis คือ ค่าที่ให้ flex-grow flex-shrink มาอิงค่าในการยืด-หด ถ้าเกินกว่านี้ คือ จอหดแคบลงกว่านี้ กล่องส่วนที่เกินมันจะโดนตัดออก*/

	/* display: none; */
}

.box1 {
	background-color: aquamarine;
	flex: 50%; /* แบ่งพื้นที่ว่างที่เหลือให้ 1 ส่วน หรือสามารถกำหนดเป็น % ก็ได้ เขียนย่อจาก flex-grow: ; ที่เขียนเต็มๆ ซึ่ง flex-shrink: ; ก็จะ = 1 ด้วย ส่วน flex-basis ก็จะเป็น auto */
}
.box2 {
	background-color: blueviolet;
	flex: 50%;
}
.box3 {
	background-color: blue;
	/* flex: 1; */
}

/* position */
.position {
	display: flex;
	justify-content: center;
	align-items: center;
}

.parent {
	width: 400px;
	aspect-ratio: 1/1; /* บอกอัตรส่วน */
	background-color: var(--color-purple);

	/* parent position */
	position: relative;
	top: 100px; /* position: relative; top: 100px; ลงมาจากจุดเดิม 100px แต่ถ้าอยากให้เลื่อนขึ้นข้างบนให้ใส่เครื่องหมาย - ไว้หน้าตัวเลข EX. -100px */
	/* position: relative; อิงตำแหน่งเดิม
	position: absolute; อิง Parent ที่ใกล้ที่สุดและหลุดลอยเป็นอิสระ */
	left: 100px; /* เลื่อนจากทางซ้าย 100px จากจุดที่เลื่อนลงมาแล้วจากด้านบนแล้ว 100px */
	/* z-index: 1; /* ตำแหน่งบน-ล่าง sent Front-Back Element ที่กำหนดต้องเป็นพี่น้องกัน*/

	/* center div child #3 flex */
	/* display: flex;
  justify-content: center;
  align-items: center; */

	/* center div child #3 flex */
	/* display: grid;
  place-items: center; */

	/* display: none; */
}

.child {
  width: 200px;
  aspect-ratio: 1/1;
  background-color: var(--color-yellow-400);
  /*childposition*//*position: absolute;
  *//*z-index: 999;
  *//*top: 100px;
  *//*left:300px;
  *//*right:400px;
  *//*centerdivchild#1OldSchool*/position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  /*centerdivchild#2inset*//*position: absolute;
  inset: 0;
  margin: auto;
   */:;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.parent2,
.parent3,
.parent4 {
	background-color: var(--color-black);
	color: var(--color-white);
	padding: 1rem 2rem;

	/* parent position */
	/* position: absolute; */
	/* z-index: 10; */

	display: none;

}
.parent3 {
	background-color: var(--color-white);
	color: var(--color-black);
}

/* about me flex */
.about-me__container {
	display: flex;

	p {
		padding: 2rem;
	}
}

/* navbar flexbox */
nav {
	height: var(--height-nav);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: var(--color-white);
	box-shadow: 0 2px 6px rgb(0, 0, 0, 0.3);
}

nav ul {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
ul li {
	list-style: none;
}
.nav-item {
	text-decoration: none;
	font-size: 1.25rem;
	font-weight: 500;
	color: var(--color-black);
	padding: 0.5rem 1rem;

	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.nav-item:hover {
	font-weight: 500;
	background-color: var(--color-purple);
	color: var(--color-yellow-400);

	border-radius: 8px;
	box-shadow: 0 2px 6px rgb(0, 0, 0, 0.3);
}

@media (max-width: 480px) {
	.container {
		max-width: 100vw;
	}
	.nav-item {
		display: block;
		width: 100%;
		padding: 0.75rem;
		border-radius: 4px;
	}

	.nav-item svg {
		display: block;
	}
	.nav-item span {
		display: none;
	}

	.about-me__container {
		display: block;
		p {
			padding: 0;
		}
	}
}

@media (480px < width < 1280px) {
	.container {
		max-width: 95vw;
		margin: 0 auto;
	}
	.nav-item {
		display: block;
		width: 100%;
		padding: 0.75rem;
		border-radius: 4px;
	}
	.nav-item svg {
		display: none;
	}
	.about-me__container {
		display: block;
		p {
			padding: 0;

			&:last-child {
				background-color: var(--color-yellow-200);
				color: var(--color-purple);
				padding: 1rem 0;
			}

			&:last-child:hover {
				background-color: var(--color-white);
				color: var(--color-black);
			}

			&:last-child::selection {
				background-color: var(--color-purple);
				color: var(--color-yellow-400);
			}
		}
	}
}