h3{
    margin-left: 7rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: smaller;
}
h1{
    width: 50rem;
    margin-left: 7rem;
    margin-bottom: 2.5rem;
}
h1, h2{font-size: 2.5rem;}
.detail{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: center;
}
.part{
    width: 25rem;
}
.a span{
    font-size: 4rem;
    font-weight: bolder;
    color: white;
    background-color: dodgerblue;
    border-radius: 15px;
}
#b1{
    font-size: 4rem;
    font-weight: bolder;
    background-color: forestgreen;
    border-radius: 15px;
}
#b2{
    font-size: 3rem;
    font-weight: bolder;
    background-color: forestgreen;
    border-radius: 15px;
}
.highlight{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}
.highlight span{
    font-size: 3rem;
    font-weight: bolder;
    background-color: gold;
    border-radius: 15px;
}
.highlight p{
    font-size: small;
}
button{
    width: 10rem;
    height: 3rem;
    border: solid 3px black;
    border-radius: 10px;
    background-color: white;
    margin-top: 1.5rem;
    margin-left: 6rem;
}
