@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Athiti", sans-serif;
}

header {
  margin: 5rem;
  font-size: x-large;
  text-align: center;
}
.section {
    background-color: bisque;
    width: 80rem;
    padding: 2rem;
}
.aboutme {
    margin: 0 auto;
    text-align: center;
}
.aboutme img {
    margin: 0 auto;
}
.experience {
    margin: 2rem auto;
}
.education {
    margin: 2rem auto;
}
.contact {
    margin: 2rem auto;
}