/* CSS Variables */
:root {
  --color-black: hsl(50, 100%, 5%);
  --color-white: hsl(50, 100%, 95%);
  --color-yellow-400: hsl(50, 100%, 50%);
  --color-yellow-200: hsl(50, 100%, 75%);
  --color-purple: hsl(300, 90%, 25%);
  --height-nav: 60px;
}

body {
  font-family: "Inter", sans-serif;
  /* offset navbar height */
  /* margin-top: var(--height-nav); */
}

.container {
  min-height: 100vh;
  min-height: 100dvh;
  border: solid 10px var(--color-yellow-400);

  /* flexblox */
  display: flex;
  /* flex-direction: ; */
  flex-wrap: wrap; 
  gap: 1rem;
  justify-content: center; /*อิงแกน Main axis*/
  /* align-items: ; อิงแกน Cross axis */ 
  align-content: center; /*มองภาพรวม*/

  /* grid */
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
}

.box {
  width: 100px;
  height: 100px;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 500;
  outline: solid 1px red;
}